@fenbianlv:37.5; //定义分辨率

//定义颜色变量
@white:white;
@blue:#00b4d4;
@lightblack:#959595;
@red:red;



//度量单位
.fs(@px) {
  font-size: unit(@px/@fenbianlv, rem);
}

.w(@px) {
  width: unit(@px/@fenbianlv, rem);
}

.h(@px) {
  height: unit(@px/@fenbianlv, rem);
}

.lh(@px) {
  line-height: unit(@px/@fenbianlv, rem);
}

.ml(@px) {
  margin-left: unit(@px/@fenbianlv, rem);
}

.mr(@px) {
  margin-right: unit(@px/@fenbianlv, rem);
}

.mt(@px) {
  margin-top: unit(@px/@fenbianlv, rem);
}

.mb(@px) {
  margin-bottom: unit(@px/@fenbianlv, rem);
}

.p(@px) {
  padding: unit(@px/@fenbianlv, rem);
}

.pl(@px) {
  padding-left: unit(@px/@fenbianlv, rem);
}

.pr(@px) {
  padding-right: unit(@px/@fenbianlv, rem);
}


.pt(@px) {
  padding-top: unit(@px/@fenbianlv, rem);
}

.pb(@px) {
  padding-bottom: unit(@px/@fenbianlv, rem);
}

.left(@px) {
  left: unit(@px/@fenbianlv, rem);
}

.right(@px) {
  right: unit(@px/@fenbianlv, rem);
}

.top(@px) {
  top: unit(@px/@fenbianlv, rem);
}

.bottom(@px) {
  bottom: unit(@px/@fenbianlv, rem);
}
.text-indent(@px){
  text-indent: unit(@px/@fenbianlv, rem);
}


//多行文本溢出
.textOverFlow(@num){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @num;
  overflow: hidden;
}


